body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyBox {
  height: 90%;
  width: 90%;
  border-style: solid;
  border-color: white;
  border-width: 0.01em;
  border-radius: 0.2em;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.match {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player {
  font-size: 0.3em;
  padding: 0.1em;
  margin: 0.1em;
}

.player[winner] {
  border-style: solid;
  border-width: thin;
  border-radius: 0.2em;
}

.player[player='0'] {
  color: rgb(255, 0, 0);
}

.player[player='1'] {
  color: rgb(0, 0, 255);
}

.player[player='2'] {
  color: rgb(0, 255, 255);
}

.player[player='3'] {
  color: rgb(255, 165, 0);
}
