body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.historyBox {
  height: 100%;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: white;
  border-width: 0.01em;
  border-radius: 0.2em;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
}

.match {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player {
  font-size: 0.3em;
  padding: 0.1em;
  margin: 0.1em;
}

.player[winner] {
  border-style: solid;
  border-width: thin;
  border-radius: 0.2em;
}

.player[player='0'] {
  color: rgb(255, 0, 0);
}

.player[player='1'] {
  color: rgb(0, 0, 255);
}

.player[player='2'] {
  color: rgb(0, 255, 255);
}

.player[player='3'] {
  color: rgb(255, 165, 0);
}


.sliderBox {
  width: 100%;
}

.slider {
  width: 7em;
  float: left;
  text-align: right;
  font-size: 0.2em;
  font-style: italic;
  white-space: nowrap;
  padding: 0.2em;
  border-radius: 0.4em;
  color: white;
  background-color: rgba(70, 200, 200, 0.8);
  cursor: ew-resize;
}

.slider[reset] {
  transition-property: width;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
