.players {
  height: calc(100% - 0.32em);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.playerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.player[player='0'] {
  background: radial-gradient(rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.4) 40%, rgba(255, 0, 0, 0) 70%);
}

.player[player='1'] {
  background: radial-gradient(rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 0.4) 40%, rgba(0, 0, 255, 0) 70%);
}

.player[player='2'] {
  background: radial-gradient(rgba(0, 255, 255, 0.5) 0%, rgba(0, 255, 255, 0.4) 40%, rgba(0, 255, 255, 0) 70%);
}

.player[player='3'] {
  background: radial-gradient(rgba(255, 165, 0, 0.5) 0%, rgba(255, 165, 0, 0.4) 40%, rgba(255, 165, 0, 0) 70%);
}


.lifeBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.life {
  color: white;
  font-size: 2em;
  margin-top: -0.25em;
  font-weight: bold;
}

.life[lowHealth='true'] {
  animation-name: lowHealth;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes lowHealth {
  to {
    color: pink;
  }
}


.infect {
  color: darkgreen;
  background-image: url('../img/infect.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.commanderDmgColumn {
  display: flex;
  flex-direction: column;
  padding: 0.1em;
}

.commanderDmg {
  text-align: center;
  font-size: 0.7em;
}

.commanderDmg[player='0'] {
  color: rgb(255, 120, 120);
}

.commanderDmg[player='1'] {
  color: rgb(120, 120, 255);
}

.commanderDmg[player='2'] {
  color: rgb(120, 255, 255);
}

.commanderDmg[player='3'] {
  color: rgb(255, 200, 120);
}


.sliderBox {
  height: 6%;
}

.slider {
  width: 10em;
  float: left;
  text-align: right;
  font-size: 0.2em;
  font-style: italic;
  white-space: nowrap;
  padding: 0.2em;
  border-radius: 0.4em;
  color: white;
  background-color: rgba(70, 200, 80, 0.8);
  cursor: ew-resize;
}

.slider[reset] {
  transition-property: width;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}


.dragChange {
  cursor: -webkit-grab;
}

.dragElement {
  position: absolute;
  font-size: 0.5em;
  color: yellow;
  z-index: 2;
}

.positive {
  color: lightgreen;
}

.negative {
  color: red;
}


.undoElement {
  position: absolute;
  height: 0.7em;
  width: 0.7em;
  background-image: url('../img/undo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
